.user-img {
    margin-top: 0px !important;
}
.mat-card .mat-card-content {
    font-size: 0.9rem !important;
}
.comment-footer .action-icons a {
    padding-left: 0px!important;
}
.comment-footer .action-icons {
    visibility: visible!important;
}
.round img {
    height: 50px;
}
.profile-tab-title{
    padding: 20px 0px 0px 20px;
}
.task-btn{
    margin: 10px 0px 0px -10px;
}
.mat-card .mat-card-title {
    font-size: 20px;
    margin-bottom: 0px;
}
.profile-tab-title{
    padding: 20px 0 20px 20px;
}