<div fxLayout="row wrap">
    <div fxFlex.gt-sm="100" fxFlex="100">
        <mat-card>
            <div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100">
                <mat-card class="oh text-center little-profile">
                    <!--                        <img mat-card-image src="assets/images/background/profile-bg.jpg" alt="Photo of a Shiba Inu" style="height: 187px;">-->
                    <mat-card-content>
                        <div class="pro-img user-img">
                            <img *ngIf="user.profile_picture_url != ''" src="{{previewUrl}}" width="100" alt="user">
                            <img *ngIf="user.profile_picture_url == ''" src="./assets/images/user.png" width="100" alt="user">
                        </div>
                        <h3 class="m-b-0">{{user.first_name}} {{user.last_name}}</h3>
                        
                        <form [formGroup]="form" (ngSubmit)="onSubmit()">

                            <div fxLayout="row wrap">
                                
                                <div style="text-align: left;" class="p-10" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                                    <mat-form-field>
                                        <input matInput placeholder="Current Password" name="cpassword" [formControl]="form.controls['cpassword']" type="password">
                                    </mat-form-field>
                                    <small *ngIf="form.controls['cpassword'].hasError('required') && form.controls['cpassword'].touched" class="text-danger font-14">Enter current password.</small>
                                    <small *ngIf="currentErrorMsg!==''" class="text-danger font-14">{{currentErrorMsg}}</small>
                                </div>
                                
                
                                <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
                                    <mat-form-field>
                                        <input matInput placeholder="New Password" name="password" [formControl]="form.controls['password']" type="password">
                                    </mat-form-field>
                                    <small *ngIf="form.controls['password'].hasError('required') && form.controls['password'].touched" class="text-danger font-14">Enter new password.</small>
                                    <small *ngIf="form.controls['password'].errors?.equalTo" class="text-danger font-14">Password doesn’t match.</small>
                                </div>
                
                                <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
                                    <mat-form-field>
                                        <input matInput placeholder="Confirm Password" [formControl]="form.controls['confirmPassword']" type="password">
                                    </mat-form-field>
                                    <small *ngIf="form.controls['confirmPassword'].hasError('required') && form.controls['confirmPassword'].touched" class="text-danger font-14">Enter confirm password.</small>
                                    <small *ngIf="form.controls['confirmPassword'].errors?.equalTo" class="text-danger font-14">Password doesn’t match.</small>
                                </div>
                
                            </div>
                
                            <mat-card-actions>
                                <button [disabled]="showLoader" mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Update</button>
                                <span *ngIf="showLoader" class="p-a"><img src="assets/images/loader.gif" alt="homepage" width="40px" class="dark-logo m-l-10"></span>
                
                            </mat-card-actions>
                        </form>


                    </mat-card-content>
                </mat-card>
            </div>
        </mat-card>
    </div>
</div>