<!-- ============================================================== -->
<!-- Card Grid-->
<!-- ============================================================== -->
<div fxLayout="row wrap">
    <div fxFlex.gt-sm="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <!-- <mat-card-title>Edit Profile</mat-card-title> -->
                <mat-card-content>
                    <div class="image-preview mb-3" style="position: relative;display: flex;align-items: center;">
                        <img [src]="previewUrl!='' && previewUrl!=null?previewUrl:'./assets/images/user.png'" height="200" width="250"/>
                        <button (click)="openGallery()" class="cursor-p" style="margin-left: 25px;">
                            <i class="fa fa-edit"></i> Choose File   
                        </button>
                        <span style="align-self: center; margin-left: 20px;">{{previewUrl!='' && previewUrl!=null?'':'No File Selected'}}</span>
                    </div>
                    <div style="display: none;" fxFlex.gt-sm="100" fxFlex="100" class="m-b-20">
                        <input class="form-control b-b" placeholder="file" type="file" (change)="fileProgress($event)">
                    </div>
                    
                </mat-card-content>
                <!-- ============================================================== -->
                <!-- column -->
                <!-- ============================================================== -->
                <form class="basic-form" (ngSubmit)="onSubmit()" #form="ngForm">
                    <div fxLayout="row wrap">
                        <!-- column -->
                        <div fxFlex.gt-md="100" fxFlex="100">
                            <mat-form-field>
                                <input matInput placeholder="First Name" name="first_name"  [ngModel]="user.first_name" #userfirstname="ngModel">
                            </mat-form-field>
                        </div>
                        <!-- column -->
                        <div fxFlex.gt-md="100" fxFlex="100">
                            <mat-form-field>
                                <input matInput placeholder="Last Name" name="last_name"  [ngModel]="user.last_name">
                            </mat-form-field>
                        </div>
                        <div fxFlex.gt-md="100" fxFlex="100">
                            <mat-form-field>
                                <input matInput placeholder="Email" name="email"  [ngModel]="user.email">
                            </mat-form-field>
                        </div>
                        <!-- column -->
                        <!-- <div fxFlex.gt-md="100" fxFlex="100">
                            <mat-form-field>
                                <input matInput placeholder="Email" name="email"  [ngModel]="user.email">
                            </mat-form-field>
                        </div> -->
                        <!-- column -->
                        <div fxFlex.gt-md="100" fxFlex="100">
                            <mat-form-field>
                                <input matInput [matDatepicker]="picker" placeholder="Birthday" name="birthday"  [(ngModel)]="user.birthday">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <!-- column -->
                        <div fxFlex.gt-md="100" fxFlex="100">
                            <mat-form-field>
                                <input matInput placeholder="Phone" name="phone"  [ngModel]="getPhone(user.phone)">
                            </mat-form-field>
                        </div>
                        <div fxFlex.gt-md="100" fxFlex="100">
                            <mat-form-field>
                                <!-- <span>{{user.user_type_id=='3'?'Basic User':user.user_type_id=='4'?'Global Admin':user.user_type_id=='5'?'Super Admin':'Regional Admin'}}</span> -->
                                <input disabled='true' matInput placeholder="User Type" name="user_type"  [ngModel]="user.user_type_id=='3'?'Basic User':user.user_type_id=='4'?'Global Admin':user.user_type_id=='5'?'Super Admin':'Regional Admin'">
                            </mat-form-field>
                        </div>
                        <!-- column -->
                        <div fxFlex.gt-md="100" fxFlex="100">
                            <mat-form-field>
                                <mat-select [disabled]='true' placeholder="Region"  name="region" required [(ngModel)]="user.user_region" >
                                    <mat-option value="All" >All</mat-option>
                                    <mat-option value="{{region.region}}" *ngFor="let region  of allRegion">{{region.region}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div *ngIf="user.user_type_id == '3' || user.user_type_id == '4' || user.user_type_id == '5'" fxFlex.gt-sm="100" fxFlex="100">
                            <mat-form-field>
                                <mat-select [disabled]="true" placeholder="Properties" name="building_id"  [(ngModel)]="user.building_id">
                                    <mat-option value="All" *ngFor="let building  of allBuilding">All</mat-option>
                                    <mat-option value="{{building.property_code}}" *ngFor="let building  of allBuilding">{{building.property_name}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <!-- column -->
                        <div fxFlex.gt-md="100" fxFlex="100">
                            <mat-form-field>
                                <input matInput disabled="true" placeholder="Created At" name="created_at"  [ngModel]="user.created_at.slice(0,10)">
                            </mat-form-field>
                        </div>
                        
                        <!-- &lt;!&ndash; column &ndash;&gt; -->
                        <!-- <div fxFlex.gt-md="100" fxFlex="100">
                            <mat-form-field>
                                <input matInput placeholder="City" name="city"  [ngModel]="user.city">
                            </mat-form-field>
                        </div> -->
                        <!-- &lt;!&ndash; column &ndash;&gt; -->
                        <!-- <div fxFlex.gt-md="100" fxFlex="100">
                            <mat-form-field>
                                <input matInput placeholder="State" name="state"  [ngModel]="user.state">
                            </mat-form-field>
                        </div> -->
                        <!-- &lt;!&ndash; column &ndash;&gt; -->
                        <!-- <div fxFlex.gt-md="100" fxFlex="100">
                            <mat-form-field>
                                <input matInput placeholder="Zip Code" name="zip_code"  [ngModel]="user.zip_code">
                            </mat-form-field>
                        </div> -->
                        
                    <!--&lt;!&ndash; column &ndash;&gt;
                        <div fxFlex.gt-md="100" fxFlex="100">
                            <mat-form-field>
                                <input matInput placeholder="Unit number" name="unit_number"  [ngModel]="user.unit_number">
                            </mat-form-field>
                        </div>-->
                        <!-- column -->
                        <div fxFlex.gt-sm="100" fxFlex="100">
                            <button [disabled]="showLoader" mat-raised-button color="primary">Update</button><span><img *ngIf="showLoader" src="assets/images/loader.gif" alt="homepage" width="40px" class="dark-logo m-l-20 p-a p-t-10"></span>
                        </div>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>
