<div fxLayout="row wrap">
    <div class="cursor-p" fxFlex.gt-sm="33.3333" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card class="bg-blue">
            <mat-card-content>
                <!-- Row -->
                <div class="d-flex no-block">
                    <div class="box-texts">
                        <h1 class="m-0">{{totalMeetGreet}}</h1>
                        <h3 class="m-0">Total Meet & Greets</h3>
                    </div>
                       
                </div>
            </mat-card-content>
        </mat-card>
    </div>

    <div class="cursor-p" fxFlex.gt-sm="33.3333" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card class="bg-success">
            <mat-card-content>
                 <!-- Row -->
                 <div class="d-flex no-block">
                    <div class="box-texts">
                        <h1 class="m-0">{{openMeetGreet}}</h1>
                        <h3 class="m-0">Open</h3>
                    </div>
                       
                </div>
            </mat-card-content>
        </mat-card>
    </div>

    <div class="cursor-p" fxFlex.gt-sm="33.3333" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card class="bg-danger">
            <mat-card-content>
                 <!-- Row -->
                 <div class="d-flex no-block">
                    <div class="box-texts">
                        <h1 class="m-0">{{closedMeetGreet}}</h1>
                        <h3 class="m-0">Complete</h3>
                    </div>
                       
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
    
<div class="mat-card mat-focus-indicator">
    <div class="bg-light p-10 p-r-20 p-l-20 table-filter" fxFlex.gt-lg="75" fxFlex.gt-md="30" fxFlex.gt-xs="100" fxFlex="100">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
    </div>
    <!-- <div fxFlex.gt-lg="75" fxFlex.gt-md="70" fxFlex.gt-xs="100" fxFlex="100" class="align-item-center"> <button mat-raised-button color="primary">Add Resident</button></div> -->
  </div>
  
  <div fxLayout="row wrap">
    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
      <mat-card>
        <mat-card-content>
          <!-- <mat-card-title>All Meet & Greets</mat-card-title> -->
          
          <div class="responsive-table">
            <mat-table [dataSource]="dataSource" matSort>

            <!-- Progress Column -->
              <ng-container matColumnDef="resident">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Resident Name </mat-header-cell>
                <mat-cell (click)="editResident(row.user_id)" class="cursor-p" *matCellDef="let row;let i = index;">
                  {{row.resident}} 
                </mat-cell>
              </ng-container>

              <!-- Progress Column -->
              <ng-container matColumnDef="captain">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Captain </mat-header-cell>
                <mat-cell *matCellDef="let row;let i = index;">
                    {{row.captain}}
                </mat-cell>
              </ng-container>
  
              <!-- Name Column -->
              <ng-container matColumnDef="property_name">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Property Name</mat-header-cell>
                <mat-cell *matCellDef="let row;let i = index;"> {{row.property_name}} </mat-cell>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="unit_number">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Unit Number</mat-header-cell>
                <mat-cell *matCellDef="let row;let i = index;"> {{row.unit_number}} </mat-cell>
              </ng-container>
  
  
              <!-- Name Column -->
              <ng-container matColumnDef="user_profile_service_day">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Service Day </mat-header-cell>
                <mat-cell *matCellDef="let row;let i = index;"> {{row.user_profile_service_day}} </mat-cell>
              </ng-container>
              
              <!-- Color Column -->
              <ng-container matColumnDef="status">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
                <mat-cell *matCellDef="let row;let i = index;" >{{row.meet_greet_status == 'true'||row.meet_greet_status == 'completed'?"Completed":'Open'}} </mat-cell>
              </ng-container>

              <!-- Color Column -->
              <ng-container matColumnDef="meet_date">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Meet & Greet Date </mat-header-cell>
                <mat-cell *matCellDef="let row;let i = index;" > {{row.meet_date }}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="meet_time">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Meet & Greet Time </mat-header-cell>
                <mat-cell *matCellDef="let row;let i = index;" > {{row.meet_time }}</mat-cell>
              </ng-container>
  
              <!-- Color Column -->
              <ng-container matColumnDef="created_at">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Created At </mat-header-cell>
                <mat-cell *matCellDef="let row;let i = index;"> {{row.created_at | slice:0:10}} </mat-cell>
              </ng-container>
  
              <ng-container matColumnDef="completion">
                <mat-header-cell *matHeaderCellDef> Complete Meet & Greet </mat-header-cell>
                <mat-cell class="cursor-p" *matCellDef="let row;let i = index;">
                    <section class="example-section">
                        <mat-slide-toggle
                            class="example-margin"
                            [checked]="row.meet_greet_status=='completed'?'true':'false'"
                            [disabled]="row.meet_greet_status=='completed'?'true':'false'"
                            (click)="changeStatus(row,i)">
                          
                        </mat-slide-toggle>
                      </section>
                    </mat-cell>
  
              </ng-container>
  
  
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;">
              </mat-row>
            </mat-table>
  
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
