<div class="mat-card mat-focus-indicator">
    <div class="bg-light p-10 p-r-20 p-l-20 table-filter" fxFlex.gt-lg="75" fxFlex.gt-md="30" fxFlex.gt-xs="100" fxFlex="100">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
    </div>
    <div fxFlex.gt-lg="75" fxFlex.gt-md="70" fxFlex.gt-xs="100" fxFlex="100" class="align-item-center"> <button mat-raised-button color="primary" (click)="btnCreate()">Add Resident</button></div>
   
  </div>
  
  <div fxLayout="row wrap">
    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
      <mat-card>
        <mat-card-content>
          <span style="color: red;">{{alertMessage}}</span>
          <div class="table-dropdown" >
         
            <mat-form-field appearance="fill">
              <mat-label>Select Property</mat-label>
              <mat-select aria-label="Number"
              matInput
              
              (selectionChange)="onChange($event.value)"
              >
                  <mat-option [value]="'All'">
                    All              
                  </mat-option>
                <mat-option *ngFor="let building of allbuilding" [value]="building.property_name">
                  {{building.property_name}}
                  <span class="help-desk" *ngIf="building.invalid && building.touched" style="color: red;" >Please select property.</span>
                </mat-option>
              </mat-select>
            </mat-form-field>
            <!-- <input style="border-bottom: 1px solid; border-width: 1px;" type="text"
             placeholder="Select Property"
             aria-label="Number"
             matInput
             [formControl]="myControl"
             (ngModelChange)="filterItem($event)"
             [matAutocomplete]="auto"> -->
          <!-- #enddocregion input -->
          <!-- #docregion mat-autocomplete -->
              <!-- <mat-autocomplete (optionSelected)="onChange($event.option.value)" #auto="matAutocomplete">
                <mat-option [value]="'All'">
                  All
                
                </mat-option>
                <mat-option *ngFor="let building of allbuilding" [value]="building.property_name">
                  {{building.property_name}}
                  <span class="help-desk" *ngIf="building.invalid && building.touched" style="color: red;" >Please select property.</span>
                </mat-option>
              </mat-autocomplete> -->
        
            <span><img *ngIf="propertyDropdown" src="assets/images/loader.gif" alt="homepage" width="40px" class="dark-logo m-l-20 p-a p-t-10"></span>
          </div>
          <!-- <mat-card-title>All Residents</mat-card-title> -->
          <!-- <div class="col-sm-7">
            <select class="form-control col-12" name="property_code" required [(ngModel)]="selectedProperty"  #building="ngModel" (change)="onChange()">
              <option value="" selected>Choose property name</option>
              <option value="{{building.property_code}}" *ngFor="let building  of allbuilding">{{building.property_name}}</option>
            </select>
            <span class="help-desk" *ngIf="building.invalid && building.touched" style="color: #E74C3C;" >Please enter user type.</span>
          </div> -->
         
          <div class="responsive-table">
            <mat-table [dataSource]="dataSource" matSort>
  
              <!-- ID Column -->
              <!-- <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
              </ng-container> -->
  
              <!-- Progress Column -->
              <ng-container matColumnDef="first_name">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="m-r-10 "> Name </mat-header-cell>
                <mat-cell *matCellDef="let row" class=" m-r-10 cursor-p" (click)="detail(row.user_id)">
                  <span class="header-label">name:</span>
                  <img *ngIf="row.profile_picture_url != ''" src="{{row.profile_picture_url}}" class="img-circle m-r-10" width="40" height="40"/>
                  <img *ngIf="row.profile_picture_url == ''" src="./assets/images/user.png" class="img-circle m-r-10" width="40" height="40"/>
                  <h5 class="m-0">{{row.first_name}} {{row.last_name}}</h5>
                </mat-cell>
              </ng-container>
  
              <!-- Name Column -->
              <ng-container matColumnDef="property_name">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="m-w-250 m-r-10"> Property Name</mat-header-cell>
                <mat-cell *matCellDef="let row" class="cursor-p m-r-10 m-w-250" (click)="detail(row.user_id)"> {{row.property_name}} </mat-cell>
              </ng-container>
  
              <!-- Color Column -->
              <ng-container matColumnDef="unit_number">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="m-r-10"> Unit Number </mat-header-cell>
                <mat-cell *matCellDef="let row" class="cursor-p m-r-10" (click)="detail(row.user_id)"> {{row.unit_number}} </mat-cell>
              </ng-container>
  
              <!-- Name Column -->
              <ng-container matColumnDef="user_profile_service_day">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="m-r-10"> Service Day </mat-header-cell>
                <mat-cell *matCellDef="let row" class="cursor-p m-r-10" (click)="detail(row.user_id)"> {{row.user_profile_service_day}} </mat-cell>
              </ng-container>
  
              <!-- Color Column -->
              <ng-container matColumnDef="email">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="m-r-10 word-break"> Email </mat-header-cell>
                <mat-cell *matCellDef="let row" (click)="detail(row.user_id)" class="cursor-p m-r-10 word-break"> {{row.email}} </mat-cell>
              </ng-container>
  
              <!-- Color Column -->
              <ng-container matColumnDef="phone">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="m-r-10"> Phone </mat-header-cell>
                <mat-cell *matCellDef="let row" class="cursor-p m-r-10" (click)="detail(row.user_id)"> {{getPhone(row.phone)}} </mat-cell>
              </ng-container>
  
              <!-- Color Column -->
              <ng-container matColumnDef="Action">
                <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
                <mat-cell *matCellDef="let row">
                  <span class="material-icons m-r-10 cursor-p" (click)="btnClick(row.user_id)">edit</span>
                </mat-cell>
  
              </ng-container>
  
  
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;">
              </mat-row>
            </mat-table>
  
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
