<mat-card>
    <mat-card-content>
        <mat-card-title>Create Resident</mat-card-title>
        <!--        <mat-card-subtitle>Angular2 custom validation here is the</mat-card-subtitle>-->
        <form [formGroup]="form" (ngSubmit)="onSubmit()">

            <div fxLayout="row wrap">
                <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
                    <mat-form-field>
                        <input matInput placeholder="First Name" name="first_name" [formControl]="form.controls['first_name']">
                    </mat-form-field>
                    <mat-hint *ngIf="form.controls['first_name'].hasError('required') && form.controls['first_name'].touched" class="text-danger font-14">You must include a first name.</mat-hint>
                    <mat-hint *ngIf="form.controls['first_name'].hasError('minlength') && form.controls['first_name'].touched" class="text-danger font-14">Your first name must be at least 5 characters long.</mat-hint>
                    <mat-hint *ngIf="form.controls['first_name'].hasError('maxlength') && form.controls['first_name'].touched" class="text-danger font-14">Your first name cannot exceed 10 characters.</mat-hint>
                </div>

                <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
                    <mat-form-field>
                        <input matInput placeholder="Last Name" name="last_name" [formControl]="form.controls['last_name']">
                    </mat-form-field>
                    <mat-hint *ngIf="form.controls['last_name'].hasError('required') && form.controls['last_name'].touched" class="text-danger font-14">You must include a last name.</mat-hint>
                    <mat-hint *ngIf="form.controls['last_name'].hasError('minlength') && form.controls['last_name'].touched" class="text-danger font-14">Your last name must be at least 5 characters long.</mat-hint>
                    <mat-hint *ngIf="form.controls['last_name'].hasError('maxlength') && form.controls['last_name'].touched" class="text-danger font-14">Your Last name cannot exceed 10 characters.</mat-hint>
                </div>

                <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
                    <mat-form-field>
                        <input matInput placeholder="Email ID" name="email" [formControl]="form.controls['email']" type="email">
                    </mat-form-field>
                    <small *ngIf="form.controls['email'].hasError('required') && form.controls['email'].touched" class="text-danger font-14">You must include an email address.</small>
                    <small *ngIf="form.controls['email'].errors?.email && form.controls['email'].touched" class="text-danger font-14">You must include a valid email address.</small>
                </div>

                <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
                    <mat-form-field>
                        <input maxlength="10" matInput placeholder="Phone Number" name="phone" [formControl]="form.controls['phone']" type="text">
                    </mat-form-field>
                    <small *ngIf="form.controls['phone'].hasError('required') && form.controls['phone'].touched" class="text-danger font-14">You must include phone number.</small>
                    <small *ngIf="form.controls['phone'].errors?.phone && form.controls['phone'].touched" class="text-danger font-14">You must include a valid phone number.</small>
                </div>
                <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
                    <mat-form-field>
                        <input maxlength="10" matInput placeholder="Unit Number" name="unit_number" [formControl]="form.controls['unit_number']" type="text">
                    </mat-form-field>
                    <small *ngIf="form.controls['unit_number'].hasError('required') && form.controls['unit_number'].touched" class="text-danger font-14">You must include a unit number.</small>
                </div>
                <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
                    <mat-form-field>
                        <mat-select placeholder="Select Property"  name="building_id" required [(ngModel)]="selectedBuilding" [formControl]="form.controls['building_id']">
                            <mat-option value="{{building.property_code}}" *ngFor="let building  of allbuilding">{{building.property_name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <small *ngIf="form.controls['building_id'].hasError('building_id') && form.controls['building_id'].touched" class="text-danger font-14">You must select property name.</small>
                </div>

                <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
                    <mat-form-field>
                        <input matInput autocomplete="new-password" placeholder="Password" name="password" [formControl]="form.controls['password']" type="password">
                    </mat-form-field>
                    <small *ngIf="form.controls['password'].hasError('required') && form.controls['password'].touched" class="text-danger font-14">You must include password.</small>
                    <small *ngIf="form.controls['confirmPassword'].errors?.equalTo" class="text-danger font-14">Passwords Do Not Match</small>
                </div>

                <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
                    <mat-form-field>
                        <input matInput placeholder="Confirm Password" [formControl]="form.controls['confirmPassword']" type="password">
                    </mat-form-field>
                    <small *ngIf="form.controls['confirmPassword'].hasError('required') && form.controls['confirmPassword'].touched" class="text-danger font-14">You must include confirm password.</small>
                    <small *ngIf="form.controls['confirmPassword'].errors?.equalTo" class="text-danger font-14">Passwords Do Not Match</small>
                </div>

            </div>

            <mat-card-actions>
                <button [disabled]="showLoader" mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Create</button>
                <span *ngIf="showLoader" class="p-a"><img src="assets/images/loader.gif" alt="homepage" width="40px" class="dark-logo m-l-10"></span>

            </mat-card-actions>
        </form>
    </mat-card-content>
</mat-card>
