.f-s-13{
    font-size: 13px!important;
}
.comment-text {
    padding: 7px 15px 15px 20px!important;
}
.m-l-10{
    margin-left:10px;
}
.round img {
    height: 50px;
}
.comment-footer .action-icons a {
    padding-left: 0px!important;
}
.comment-footer .action-icons {
    visibility: visible!important;
}
.matcard-changepass {
    padding: 0px 0px 24px 24px;
}
